.digital-clock-container {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    z-index: 10;
    transition: color 0.3s;
}

.colon {
    margin: 0 4px;
    opacity: 0.8;
}

/* Light Theme */
.light-digital {
    color: var(--text-primary);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

/* Dark Theme */
.dark-digital {
    color: var(--text-primary);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}